body{
  background-color: black;
  color: rgba(255, 0, 0, 0.774);
}

ul {
  padding: 5px;
  margin: 5px;
  background: #e4cfb5;
}

img{
  padding-left: 35%;
  padding-right: 35%;
  padding-top: 5%;
  padding-bottom: 0%;
  width: 30%;
}

#waiting{
  width: 35%;
  position: relative;
  float: left;
  padding-left: 15px;
  margin: 15px;
}

#ate{
  width: 35%;
  position: relative;
  float: right;
  padding-right: 15px;
  margin: 15px;
  
}
#ateList{
  opacity: 45%;
}



#add{
  align-content: center;
  position: relative;
  width: 100%;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
}

button{
  border-radius: 55%;
  background-color: lightgreen;
  padding: 6px;
  cursor: pointer;
}

button:hover{
  background-color:black;
  color: white;
}

.delete{
  background-color:red;
}
.delete:hover{
  background-color:black;
}
h1{
  font-size: 50px;
  position: fixed;
  background-color: black;
  width: 100%;

}